.embla {
	width: 100%;
	margin: auto;
	display: flex;
	justify-self: center;
	align-items: center;
	position: relative;
	--slide-height: 280px;
	--slide-spacing: 0.5rem;
	--slide-size: 95%;
  }

  @media screen and (min-width: 640px) {
	.embla {
	  --slide-size: 75%;
	  --slide-height: 320px;
	}
}

  @media screen and (min-width: 768px) {
	.embla {
	  --slide-size: 65%;
	  --slide-height: 380px;
	}
}

  @media screen and (min-width: 1024px) {
	.embla {
	  --slide-size: 55%;
	  --slide-height: 420px;
	}
}

  @media screen and (min-width: 1280px) {
	.embla {
	  --slide-size: 50%;
	  --slide-height: 460px;
	}
}

  @media screen and (min-width: 1536px) {
	.embla {
	  --slide-size: 45%;
	  --slide-height: 1024px;
	}
  }

  .embla__viewport {
	overflow: hidden;
	width: 100%;
  }
  .embla__container {
	backface-visibility: hidden;
	display: flex;
	width: 100%;
	touch-action: pan-y pinch-zoom;
	margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
	flex: 0 0 var(--slide-size);
	min-width: 0;
	min-height: var(--slide-height);
	padding-left: var(--slide-spacing);
	height: var(--slide-height);
	display: flex;
	flex-direction: column;
  }
  .embla__slide__img {
	border-radius: 1.8rem;
	display: block;
	height: var(--slide-height);
	width: 100%;
	object-fit: cover;
  }
  .embla__controls {
	display: flex;
	justify-content: center;
	margin-top: 1.8rem;
  }
  .embla__buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.6rem;
	align-items: center;
  }
  .embla__button {
	-webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
	-webkit-appearance: none;
	position: absolute;
	appearance: none;
	background-color: transparent;
	touch-action: manipulation;
	display: inline-flex;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	padding: 0;
	margin: 0;
	box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
	width: 3.6rem;
	height: 3.6rem;
	z-index: 1;
	border-radius: 50%;
	color: var(--text-body);
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .embla__button:disabled {
	color: var(--detail-high-contrast);
  }
  .embla__button__svg {
	width: 35%;
	height: 35%;
  }