@import './app/styles/variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	padding: 0;

	color-scheme: dark;
	color: #EEF5DB;
	/* Off-white text */
	background-color: #000000;

	/* New Color Palette */
	--color-red: #FE5F55;
	--color-orange: #F0B67F;
	--color-beige: #D6D1B1;
	--color-mint: #C7EFCF;
	--color-off-white: #EEF5DB;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #000000;
	color: var(--color-off-white);
}

a {
	color: inherit;
	text-decoration: none;
}


.glass-card {
	backdrop-filter: blur(16px);
	background: rgba(27, 27, 27, 0.015);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
	padding: 0.5rem 0.75rem;
	/* mobile */
	/* border-radius: 24px; */
	height: 100%;
}

@media (min-width: 768px) {
	.glass-card {
		padding: .25rem .25rem;
		/* restore desktop spacing */
	}
}

.glass-border {
	border: 1px solid rgba(255, 255, 255, 0.05);
}

.blur-top {
	box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.4);
}

.bg-radial-gradient {
	background: radial-gradient(ellipse at center, transparent 20%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.7) 100%);
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
	height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.4);
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fade-in-up {
	animation: fadeInUp 0.8s ease-out forwards;
}